<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>

    <h1><%= title %></h1>

    <main>
        <form action="/register/add" method="POST">
            <div>
                <label>Nome</label>
                <input type="text" name="name" placeholder="Digite o seu nome">
            </div>
            <div>
                <label>Idade</label>
                <input type="text" name="age" placeholder="Digite a sua idade">
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email" placeholder="Digite o seu email">
            </div>
            <div>
                <label>Senha</label>
                <input type="text" name="password" placeholder="Digite a senha">
            </div>
            <button type="submit">Registar</button>
        </form>
    </main>
    

    <%- include('partials/foot.ejs') %>

</body>
</html>