<ul>
    <li>
        <a href="/register">Registro de Clientes</a>
    </li>
</ul>
<ul>
    <li>
        <a href="/list">Lista de Clientes</a>
    </li>
</ul>
<ul>
    <li>
        <a href="/">Página Inicial</a>
    </li>
</ul>

<hr>
